body {
    background-color: black;
}


p {
    color: white;
}


h1 {
    color: white;
}


.mycentre{
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    height: 30vh; /* Full viewport height */
    color: white;
}

.thick-hr {
    height: 8px;
    background-color: rgb(0, 153, 255);
    border: none;
  }
  
